<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="templates/styles.css">
        <title>Document</title>
    </head>
        <body>
            <h1>Register Page</h1>

            <form method="POST" action="">
                {{ register.hidden_tag() }}
                {{ register.username }}
                {{ register.password }}
                {{ register.submit }}
            </form>
        </body>
</html>